@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');/*bebas Neue*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');/*motserat*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /*roboto*/

:root{
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-subdestaque: 'Montserrat', sans-serif;
    --fonte-padrao: 'Roboto', sans-serif;

    --vermelho: #e12525;
    --vermelho-claro: #d95a5a;
    --branco: #fefeff;
    --cinza-claro: #999999;
    --cinza-escuro: #565656;
    --preto: #000;
}

*{ /* resetando configuraçoes de margen padrão*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-family: var(--fonte-padrao);
}

@media (max-width: 800px){
    #carteira .card{
        display: none;
    }
}

header{
    position: relative;
    padding-top: 25px;
    height: 300px;
    margin-bottom: 3vw;
    background-color: #000;
}

header #titulo{
    display: flex;
}

header #listra-principal{
    height: 15px;
    background-color: #fefeff;
    margin-bottom: 5px;
}

header #listra-esquerda{
    margin-top: 21px;
    height: 30px;
    background-color: #000;
    border-top: 8px solid #fefeff;
    border-bottom: 8px solid #fefeff;
    width: 100%;
}

header #listra-direita{
    margin-top: 21px;
    height: 30px;
    background-color: #000;
    border-top: 8px solid #fefeff;
    border-bottom: 8px solid #fefeff;
    width: 100%;
}

#titulo h1{
    letter-spacing: 5px;
    font-family: var(--fonte-destaque);
    margin-top: -15px;
    min-width: 490px;
    color: #fefeff;
    font-size: 5em;
    align-items: center;
    text-align: center;
    user-select: none;
}

/* configuraçoes dos links de navegação*/

header a{
    display: inline-block;
    width: 150px;
    padding: 5px;
    font-size: 1.8em;
    letter-spacing: 2px;
    font-family: var(--fonte-destaque);
    background-color: #565656;
    color: #fefeff;
}

header a:hover{
    width: 250px;
    transition-duration: 0.5s;
    text-align: center;
    border: 1px solid #941a1a;
    background-color: #e12525;
    --preto: #000;
}

/* configuraçoes da coluna 1*/

#coluna02 li, #coluna01 li{
    margin: 10px 0;
}

#coluna01{
    
    position: absolute;
    left: 0;
    bottom: 0;
}

/* configuraçoes da coluna 2*/

#coluna02{
    list-style-type: none;
    list-style: none;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
}

/* configuraçoes da imagem do escudo*/

#escudo{
    z-index: 10;
    position: absolute;
    left: 42.5vw;
}

#escudo img{
    width: 14vw;
}

/* configuração dos baners start */
.banerSld{
    position: relative;
    overflow: hidden;
}

.impt-baner{
    display: none;
}

.slider{
    display: flex;
}

.sld-item img{
    width: 100vw;
}

.first{
    transition: .5s;
}

/* manual controler start */
.manual-controler{
    position: absolute;
    bottom: 10px;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: center;
}

.manual-ctl-item{
    padding: 5px;
    border-radius: 50%;
    border: 2px solid var(--preto);
    outline: .5px solid var(--branco);

    cursor: pointer;
    transition: .5s;
}

.manual-ctl-item:hover{
    background-color: var(--branco);
}

#impt-baner-1:checked ~ .manual-controler #manual-ctl-item-1{
    background-color: var(--preto);
}

#impt-baner-2:checked ~ .manual-controler #manual-ctl-item-2{
    background-color: var(--preto);
}

#impt-baner-3:checked ~ .manual-controler #manual-ctl-item-3{
    background-color: var(--preto);
}

#impt-baner-4:checked ~ .manual-controler #manual-ctl-item-4{
    background-color: var(--preto);
}

#impt-baner-5:checked ~ .manual-controler #manual-ctl-item-5{
    background-color: var(--preto);
}


.manual-ctl-item:not(:last-child){
    margin-right: 1vw;
}

#impt-baner-1:checked ~ .slider > .first{
    margin-left: -0vw;
}

#impt-baner-2:checked ~ .slider > .first{
    margin-left: -100vw;
}

#impt-baner-3:checked ~ .slider > .first{
    margin-left: -200vw;
}

#impt-baner-4:checked ~ .slider > .first{
    margin-left: -300vw;
}

#impt-baner-5:checked ~ .slider > .first{
    margin-left: -400vw;
}
/* manual controler end */

/* configuração dos baners start */

/* configuração da tag main*/


/* configuração do titulo do main*/

main{
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#titulo-main{
    margin-top: 5vh;
    margin-bottom: 25px;
}

#titulo-main .listra{ /* edição das listras de enfase do titulo*/
    height: 10px;
    width: 100%;
    background-color: var(--vermelho);
}

#titulo-main h1{
    font-family: var(--fonte-destaque);
    text-align: center;
    font-size: 3em;
    letter-spacing: 2px;
    margin-top: -5px;
    margin-bottom: -12px;
}

article{
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.204);
    margin-bottom: 5px;
}

main article h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    padding: 10px;
    margin-bottom: 20px;
}

main article p{  /*paragrafos do main*/
    margin: 10px 0;
    line-height: 1.5em;

    font-weight: normal;
    font-size: 1.3em;
    text-indent: 30px;
    text-align: justify;
}

main article .imagen-g{ /* imagens grandes*/
    width: 100%;
}

#loja{
    width: 100%;
}

#loja button{
    height: 50px;
    display: block;
    color: var(--branco);
    background-color: var(--vermelho);
    margin: auto;
    padding: 0 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#loja button:hover{
    box-shadow: 0px 0px 8px hsla(0, 0%, 0%, 0.3);
}
#loja button a{
    color: var(--branco);
    font-size: 1.3rem;
    font-weight: bolder
}

#loja button p{
    text-align: center;
    text-indent: 0px;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 2em;
    margin: 0 auto;
}

#cards{
    overflow-x: auto;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
}

.loja-item{
    margin: 0 5px;
    border: 1px solid black;
    border-radius: 8px;
    height: 322px;
    width: 283px;
}

.loja-item p{
    width: 283px;
    margin: 0px 0 0 -1px;
    height: 11.2%;
    border-radius: 0 0 8px 8px;
    text-align: center;
    text-indent: 0;
    font-size: 1.2em;
    background-color: var(--preto);
    color: var(--branco)
}

#cards img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.loja-item:hover{
}

#carteira{ /* container de cards de redirecionamento de sites*/
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#carteira .card{
    margin-top: 50px;
    border: 3px solid black;
    width: 45%;
    height: 250px;
    border-radius:5px;
}

#carteira .card p{
    background-color: var(--branco);
    border-bottom: 3px solid black;
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin-bottom: 0;
}

#carteira .card .imagem{
    width: 100%;
    height: 76.1%;
    background-color: var(--cinza-escuro);

}

#carteira .card .imagem img{
    width: 100%;
    height: 100%;
    border-radius: 0 0 5px 5px;
}

#redes-sociais{
    align-items: center;
    width: 30vw;
    margin: 0 auto;
    padding: 3px 3px;
    margin-top: 5vh;
    border-top: 1px solid rgba(0, 0, 0, 0.259);
}

#redes-sociais p{
    text-align: center;
    font-family: var(--fonte-subdestaque);
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
}

#redes-sociais #icones{
    display: flex;
    justify-content:space-around;
    
}

#redes-sociais .icone-aside{
    border-radius: 50%;
    margin: 3px;
}

#redes-sociais .icone-aside:hover{
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.205);
}

footer{/* confuguração do roodapé*/
    padding: 5px;
    margin-top: 50px;
    height: 3rem;
    background-color: var(--preto);
    color: var(--branco);
    line-height: 1.5em;
    font-size: 0.8em
}

footer a{
    color: var(--cinza-claro);
    font-size: 1em;
    font-weight: bolder;
    font-size: 1.1em;
}

footer a:hover{
    color: var(--vermelho);
    text-decoration: underline;
}
